  <h1>You have reached the root route</h1>

  <h4 class="ui center aligned icon header">
    <i class="circular green coffee icon"></i>
    ChatRoom
  </h4>

  <div class="ui three buttons">
    <button class="ui active button">One</button>
    <button class="ui button">Two</button>
    <button class="ui button">Three</button>
  </div>